/* styles.css *

 */
body {
    background-image: linear-gradient(to bottom, #18181b, #000);
    color: #fff;
    font-family: 'Inters', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;

}
/* Add styles here to customize the appearance of your app */